.jfx-button {
    -fx-background-color: #6accc9;
}

.jfx-text-field, .jfx-password-field {
    -fx-prompt-text-fill: GRAY;
    -fx-text-fill: WHITE;
}

/*.menu-bar .label {
    -fx-text-fill: WHITE;
}

.menu-item .label {
    -fx-background-color: #2a657c;
}*/
